.NavigationBar {
  padding: 0;
  top:0;
  left:0;
  width:100%;
  border-bottom: 1px solid   rgb(48, 14, 80);
}
.Navbar{
  display: flex;
  height: 100%;
  align-items: center;
  padding: 25px;
}
.menu{
  display: flex;
  color: rgb(248, 224, 2);
  font-weight: bold;
}

@media screen and (max-width:768px){
  .NavbarBtnsTablet{
    display: none;
  }
}

 