.GameDescFooter{
    width:100%;
    height: 200px;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

@media screen and (max-width:768px){
    .GameDescFooter{
        height: 150px;
    }
}
   
@media screen and (max-width:452px){
    .GameDescFooter{
        height: 50px;
    }
}
