.BurgerManuBtn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 23px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 10px;
    outline: none;
    box-shadow: none;
}
.BurgerManuBtn:hover{
background: transparent;
}
.btn-primary{
box-shadow: none;
text-shadow: none;
}
.BurgerManuBtn:focus{
outline: none;
}
.toggle-button-line{
    width: 30px;
    height: 2px;
    background: rgb(248, 224, 2);
    border-radius: 1px;
}